<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.orion.systemAdmin.dao.ModuelUrlDao">
    <insert id="create" parameterType="org.orion.systemAdmin.entity.ModuelUrlAssign">
        INSERT INTO MODUEL_URL_ASSIGN (MODUEL_ID, MODUEL_NAME, MODUEL_DESC, FUNC_ID, FUNC_NAME, LEVEL, URL, IS_SYSTEM, REMARKS) VALUES
        (#{moduelId}, #{moduelName}, #{moduelDesc}, #{funcId}, #{funcName}, #{level}, #{url}, #{isSystem}, #{remarks});
    </insert>

    <insert id="batchCreate" parameterType="org.orion.systemAdmin.entity.ModuelUrlAssign">
        INSERT INTO MODUEL_URL_ASSIGN (MODUEL_ID, MODUEL_NAME, MODUEL_DESC, FUNC_ID, FUNC_NAME, LEVEL, URL, IS_SYSTEM, REMARKS) VALUES
        <foreach collection="mua" item="mo" separator=",">
            (#{mo.moduelId}, #{mo.moduelName}, #{mo.moduelDesc}, #{mo.funcId}, #{mo.funcName}, #{mo.level}, #{mo.url}, #{mo.isSystem}, #{mo.remarks})
        </foreach>
    </insert>

    <select id="queryUrlForModuel" resultType="org.orion.systemAdmin.entity.ModuelUrlAssign">
        SELECT * FROM MODUEL_URL_ASSIGN WHERE MODUEL_ID = #{modelId}
    </select>

    <select id="queryUrlByFunc" resultType="org.orion.systemAdmin.entity.ModuelUrlAssign">
        SELECT * FROM MODUEL_URL_ASSIGN WHERE FUNC_ID = #{funcId}
    </select>

    <delete id="deleteAll">
        DELETE FROM MODUEL_URL_ASSIGN
    </delete>
</mapper>