<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.orion.systemAdmin.dao.RbacDao">
    <select id="getUserRole" parameterType="org.orion.common.rbac.User" resultType="org.orion.common.rbac.OrionUserRole">
        SELECT * FROM USER_ROLE WHERE USER_ID = #{userId};
    </select>

    <select id="getRolePermission" parameterType="org.orion.common.rbac.OrionUserRole" resultType="org.orion.common.rbac.RolePermission">
        SELECT * FROM ROLE_PERMISSION WHERE ROLE_ID = #{roleId}
    </select>
</mapper>