<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.orion.systemAdmin.dao.SysConfigDao">
    <select id="search" resultType="org.orion.systemAdmin.entity.SystemConfig">
        SELECT * FROM SYS_CONFIG ORDER BY CONFIG_KEY LIMIT #{page}, #{pageSize}
    </select>

    <select id="queryAll" resultType="org.orion.systemAdmin.entity.SystemConfig">
        SELECT * FROM SYS_CONFIG
    </select>

    <select id="query" resultType="org.orion.systemAdmin.entity.SystemConfig">
        SELECT * FROM SYS_CONFIG WHERE CONFIG_KEY = #{key}
    </select>

    <select id="getCounts" resultType="int">
        SELECT COUNT(*) FROM SYS_CONFIG;
    </select>

    <update id="update" parameterType="org.orion.systemAdmin.entity.SystemConfig">
        UPDATE SYS_CONFIG SET CONFIG_VALUE= #{configValue}, DESCRIPTION = #{description} WHERE CONFIG_KEY = #{configKey}
    </update>
</mapper>