<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.orion.systemAdmin.dao.UserDao">
    <select id="query" parameterType="java.lang.String" resultType="org.orion.systemAdmin.entity.User">
        SELECT * FROM USER_TBL WHERE LOGIN_ID = #{loginId}
    </select>

    <insert id="insert" parameterType="org.orion.systemAdmin.entity.User">
        INSERT INTO USER_TBL (USER_ID, LOGIN_ID, USER_DOMAIN, DISPLAY_NAME, PWD, EMAIL, MOBILE_NO, ACCT_STATUS, REMARKS,
                              LOGIN_LAST_ATTEMPT_DT, LOGIN_LAST_SUCCESS_DT, LOGIN_FAIL_ATTEMPT_CNT, PWD_LAST_CHG_DT,
                              PWD_CHG_REQUIRED, ACCT_ACTIVATE_DT, ACCT_DEACTIVATE_DT, CREATED_AT, CREATED_BY, UPDATED_AT, UPDATED_BY)
               VALUES(#{userId}, #{loginId}, #{userDomain}, #{displayName}, #{pwd}, #{email}, #{mobileNo}, #{acctStatus},
                       #{remarks}, #{loginLastAttemptDt}, #{loginLastSuccessDt}, #{loginFailAttemptCnt}, #{pwdLastChgDt},
                       #{pwdChgRequired}, #{acctActivateDt}, #{acctDeactivateDt}, #{createdAt}, #{createdBy}, #{updatedAt}, #{updatedBy})
    </insert>

    <update id="update" parameterType="org.orion.systemAdmin.entity.User">
        UPDATE USER_TBL SET USER_ID = #{userId}, LOGIN_ID = #{loginId}, USER_DOMAIN = #{userDomain}, DISPLAY_NAME = #{displayName},
                            PWD = #{pwd}, EMAIL = #{email}, MOBILE_NO = #{mobileNo}, ACCT_STATUS = #{acctStatus},
                            REMARKS = #{remarks}, LOGIN_LAST_ATTEMPT_DT = #{loginLastAttemptDt},
                            LOGIN_LAST_SUCCESS_DT = #{loginLastSuccessDt}, LOGIN_FAIL_ATTEMPT_CNT = #{loginFailAttemptCnt},
                            PWD_LAST_CHG_DT = #{pwdLastChgDt}, PWD_CHG_REQUIRED = #{pwdChgRequired}, ACCT_ACTIVATE_DT = #{acctActivateDt},
                            ACCT_DEACTIVATE_DT = #{acctDeactivateDt}, CREATED_AT = #{createdAt}, CREATED_BY = #{createdBy},
                            UPDATED_AT = #{updatedAt}, UPDATED_BY = #{updatedBy} WHERE USER_ID = #{userId}
    </update>

    <update id="updateAfterLogin" parameterType="org.orion.systemAdmin.entity.User">
        UPDATE USER_TBL SET ACCT_STATUS = #{acctStatus}, LOGIN_LAST_ATTEMPT_DT = #{loginLastAttemptDt},
                            LOGIN_LAST_SUCCESS_DT = #{loginLastSuccessDt}, LOGIN_FAIL_ATTEMPT_CNT = #{loginFailAttemptCnt},
                            UPDATED_AT = #{updatedAt}, UPDATED_BY = #{updatedBy} WHERE USER_ID = #{userId}
    </update>

    <insert id="createHistory" parameterType="org.orion.systemAdmin.entity.UserLoginHistory">
        INSERT INTO USER_LOGIN_HISTORY (USER_ID, LOGIN_ID, LOGIN_TIME, IS_SUCCESS, CLIENT, SESSION_ID, REASON )
        VALUES(#{userId}, #{loginId}, #{loginTime}, #{isSuccess}, #{client}, #{sessionId}, #{reason} )
    </insert>

    <select id="queryLoginAudit" parameterType="org.orion.systemAdmin.entity.User" resultType="org.orion.systemAdmin.entity.UserLoginHistory">
        SELECT * FROM USER_LOGIN_HISTORY WHERE LOGIN_ID = #{loginId}
    </select>

    <select id="queryLoginAuditPeriod" resultType="org.orion.systemAdmin.entity.UserLoginHistory">
        SELECT * FROM USER_LOGIN_HISTORY
        <where>
            <if test="id != null">
                AND LOGIN_ID = #{id}
            </if>
            <if test="from != null">
                AND LOGIN_TIME &gt;= #{from}
            </if>
            <if test="to != null">
                AND LOGIN_TIME &lt;= #{to}
            </if>
            <if test="ss != null">
                AND IS_SUCCESS = #{ss}
            </if>
        </where>
    </select>
</mapper>