<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
  <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{/images/favicon.png}" />
</head>

<body onload="profile.initButton()">
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
          <img th:src="@{/images/logo.svg}" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="index.html">
          <img th:src="@{/images/logo-mini.svg}" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
          <li class="nav-item">
            <a href="#" class="nav-link">Schedule
              <span class="badge badge-primary ml-1">New</span>
            </a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">
              <i class="mdi mdi-elevation-rise"></i>Reports</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="mdi mdi-bookmark-plus-outline"></i>Score</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-file-document-box"></i>
              <span class="count">7</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
              <div class="dropdown-item">
                <p class="mb-0 font-weight-normal float-left">You have 7 unread mails
                </p>
                <span class="badge badge-info badge-pill float-right">View all</span>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img th:src="@{/images/faces/face4.jpg}" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-medium text-dark">David Grey
                    <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                  </h6>
                  <p class="font-weight-light small-text">
                    The meeting is cancelled
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img th:src="@{/images/faces/face2.jpg}" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-medium text-dark">Tim Cook
                    <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                  </h6>
                  <p class="font-weight-light small-text">
                    New product launch
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img th:src="@{/images/faces/face3.jpg}" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-medium text-dark"> Johnson
                    <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                  </h6>
                  <p class="font-weight-light small-text">
                    Upcoming board meeting
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-bell"></i>
              <span class="count">4</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <a class="dropdown-item">
                <p class="mb-0 font-weight-normal float-left">You have 4 new notifications
                </p>
                <span class="badge badge-pill badge-warning float-right">View all</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="mdi mdi-alert-circle-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
                  <p class="font-weight-light small-text">
                    Just now
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="mdi mdi-comment-text-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
                  <p class="font-weight-light small-text">
                    Private message
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="mdi mdi-email-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
                  <p class="font-weight-light small-text">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text" th:text="'Hello, ' + ${session.user_account.displayName}">Hello, Richard V.Welsh !</span>
              <img class="img-xs rounded-circle" th:src="@{/images/faces/face1.jpg}" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item p-0">
                <div class="d-flex border-bottom">
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                    <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                  </div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                    <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                  </div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                    <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                  </div>
                </div>
              </a>
              <a class="dropdown-item mt-2" href="javascript:void(0)" onclick="loginCtrl.showProfile()">
                个人资料
              </a>
              <a class="dropdown-item">
                修改密码
              </a>
              <a class="dropdown-item">
                查看
              </a>
              <a class="dropdown-item">
                注销登陆
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img th:src="@{/images/faces/face1.jpg}" alt="profile image">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name" th:text="${session.user_account.displayName}">Richard V.Welsh</p>
                  <input id="userId" type="hidden" th:value="${session.user_account.userId}">
                  <div>
                    <small class="designation text-muted">Manager</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
              <button class="btn btn-success btn-block">New Project
                <i class="mdi mdi-plus"></i>
              </button>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">开始</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-content-copy"></i>
              <span class="menu-title">Basic UI Elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/basic_elements.html">
              <i class="menu-icon mdi mdi-backup-restore"></i>
              <span class="menu-title">Form elements</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/charts/chartjs.html">
              <i class="menu-icon mdi mdi-chart-line"></i>
              <span class="menu-title">Charts</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
              <i class="menu-icon mdi mdi-table"></i>
              <span class="menu-title">Tables</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/icons/font-awesome.html">
              <i class="menu-icon mdi mdi-sticker"></i>
              <span class="menu-title">Icons</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-restart"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/login.html"> Login </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/register.html"> Register </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/error-404.html"> 404 </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/samples/error-500.html"> 500 </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <strong>个人资料</strong>
                  <hr/>
                  <p class="card-description">

                  </p>
                  <div id="formArea" style="display: none">
                    <form id="profileForm" role="form" method="post">
                      <input type="hidden" name="userId" th:value="${profile.userId}">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">昵称</label>
                          <div class="col-sm-9">
                            <input id="dn" class="form-control" name="displayName" type="text" th:value="${profile.displayName}">
                            <span id="displayNameErr" style="color: red;font-size: 10px"></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">真实姓名</label>
                          <div class="col-sm-9">
                            <input name="realName" class="form-control" type="text" th:value="${profile.realName}">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">性别</label>
                          <div class="col-sm-9">
                            <select name="gender" class="form-control form-control-sm" th:value="${profile.gender}">
                              <option value="M">男</option>
                              <option value="F">女</option>
                              <option value="O">第三性别</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">生日</label>
                          <div class="col-sm-9">
                            <input name="birthday" class="form-control" type="date" th:value="${profile.birthday}">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">邮箱</label>
                          <div class="col-sm-9">
                            <input name="email" class="form-control" type="text" th:value="${profile.email}">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">手机</label>
                          <div class="col-sm-9">
                            <input name="contact" class="form-control" type="number" th:value="${profile.contact}">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">所在地</label>
                          <div class="col-sm-9">
                            <input name="location" class="form-control" type="text" th:value="${profile.location}">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">学校</label>
                          <div class="col-sm-9">
                            <input name="college" class="form-control" type="text" th:value="${profile.college}">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">公司</label>
                          <div class="col-sm-9">
                            <input name="corporation" class="form-control" type="text" th:value="${profile.corporation}">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">行业</label>
                          <div class="col-sm-9">
                            <input name="trade" class="form-control" type="text" th:value="${profile.trade}">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">QQ</label>
                          <div class="col-sm-9">
                            <input name="qq" class="form-control" type="number" th:value="${profile.qq}">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">微信</label>
                          <div class="col-sm-9">
                            <input name="wechat" class="form-control" type="text" th:value="${profile.wechat}">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div id="dataArea" class="row">
                    <div class="col-md-6">
                      <address>
                        <p>ID</p><br/>
                        <p>昵称</p><br/>
                        <p>真实姓名</p><br/>
                        <p>性别</p><br/>
                        <p>年龄</p><br/>
                        <p>生日</p><br/>
                        <p>星座</p><br/>
                        <p>邮箱</p><br/>
                        <p>手机</p><br/>
                        <p>毕业院校</p><br/>
                        <p>所在地</p><br/>
                        <p>公司</p><br/>
                        <p>行业</p><br/>
                        <p>QQ/微信</p><br/>

                      </address>
                    </div>
                    <div class="col-md-6">
                      <address class="text-primary">
                        <p class="font-weight-bold" th:text="${profile.userId}">id</p><br/>
                        <p id="displayNameP" class="font-weight-bold" th:text="${profile.displayName}">displayname</p>
                        <br/>
                        <p id="realNameP" class="font-weight-bold" th:text="${profile.realName}">realname</p>
                        <input id="realNameInput" class="form-control" type="hidden" th:value="${profile.realName}">
                        <br/>
                        <p id="genderP" class="font-weight-bold" th:if="${profile.gender == 'F'}">女</p>
                        <p id="genderP" class="font-weight-bold" th:if="${profile.gender == 'M'}">男</p>
                        <p id="genderP" class="font-weight-bold" th:if="${profile.gender == 'O'}">第三性别</p>
                        <br/>
                        <p class="font-weight-bold" th:text="${profile.age}">age</p><br/>
                        <p id="birthdayP" class="font-weight-bold" th:text="${profile.birthday}">birthday</p>
                        <br/>
                        <p class="font-weight-bold" th:text="${profile.constellation}">constellation</p><br/>
                        <p id="emailP" class="font-weight-bold" th:text="${profile.email}">email</p>
                        <br/>
                        <p id="contactP" class="font-weight-bold" th:text="${profile.contact}">contact</p>
                        <input id="contactInput" class="form-control" type="hidden" th:value="${profile.contact}">
                        <br/>
                        <p class="font-weight-bold" th:text="${profile.college}">contact</p><br/>
                        <p class="font-weight-bold" th:text="${profile.location}">contact</p><br/>
                        <p class="font-weight-bold" th:text="${profile.corporation}">contact</p><br/>
                        <p class="font-weight-bold" th:text="${profile.trade}">contact</p><br/>
                        <p class="font-weight-bold" th:text="${profile.qq} + '/' + ${profile.wechat}">contact</p><br/>

                      </address>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <hr/>
                  <button type="button" class="btn btn-dark btn-fw" onclick="profile.modifyProfile()">
                    <i class="mdi mdi-account-edit"></i>修改
                  </button>
                  <button id="saveBtn" type="button" class="btn btn-success btn-fw" onclick="profile.save()">
                    <i class="mdi mdi-content-save"></i>保存
                  </button>
                  <button id="cancelBtn" type="button" class="btn btn-danger btn-fw" onclick="profile.cancel()">
                    <i class="mdi mdi-cancel"></i>取消
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Paragraph</h4>
                      <p class="card-description">
                        Write text in
                        <code>&lt;p&gt;</code> tag
                      </p>
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took a galley not only five centuries,
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Icon size</h4>
                      <p class="card-description">
                        Add class
                        <code>.icon-lg</code>,
                        <code>.icon-md</code>,
                        <code>.icon-sm</code>
                      </p>
                      <div class="row">
                        <div class="col-md-4 d-flex align-items-center">
                          <div class="d-flex flex-row align-items-center">
                            <i class="mdi mdi-compass icon-lg text-warning"></i>
                            <p class="mb-0 ml-1">
                              Icon-lg
                            </p>
                          </div>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                          <div class="d-flex flex-row align-items-center">
                            <i class="mdi mdi-compass icon-md text-success"></i>
                            <p class="mb-0 ml-1">
                              Icon-md
                            </p>
                          </div>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                          <div class="d-flex flex-row align-items-center">
                            <i class="mdi mdi-compass icon-sm text-danger"></i>
                            <p class="mb-0 ml-1">
                              Icon-sm
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <!-- plugins:js -->
  <script th:src="@{/js/profileInfo.js}"></script>
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script th:src="@{/js/off-canvas.js}"></script>
  <script th:src="@{/js/misc.js}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script th:src="@{/js/dashboard.js}"></script>
  <script th:src="@{/js/jquery-3.3.1.js}"></script>
  <script th:src="@{/js/jquery-block.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <!-- endinject -->
</body>

</html>