<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Xenon Boostrap Admin Panel" />
  <meta name="author" content="" />

  <title>Xenon - Data Tables</title>

  <link rel="stylesheet" th:href="@{/assets/css/fonts/linecons/css/linecons.css}">
  <link rel="stylesheet" th:href="@{/assets/css/fonts/fontawesome/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/assets/css/xenon-core.css}">
  <link rel="stylesheet" th:href="@{/assets/css/xenon-forms.css}">
  <link rel="stylesheet" th:href="@{/assets/css/xenon-components.css}">
  <link rel="stylesheet" th:href="@{/assets/css/xenon-skins.css}">
  <link rel="stylesheet" th:href="@{/assets/css/custom.css}">
  <link rel="stylesheet" th:href="@{/orion/jquery.page.css}">


<!--  <script th:src="@{/assets/js/jquery-1.11.1.min.js}"></script>-->


</head>
<body class="page-body">

<div th:replace="basic::setting-pane"></div>

<div class="page-container">
  <div th:replace="basic::leftmenu"></div>

  <div class="main-content">
    <nav th:replace="basic::nav-bar"></nav>

    <div class="page-title">

      <div class="title-env">
        <h1 class="title">计划任务配置</h1>
        <p class="description">Scheduled Tasks and Configuration</p>
      </div>

      <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
          <li>
            <a href="dashboard-1.html"><i class="fa-home"></i>Home</a>
          </li>
          <li>

            <a href="tables-basic.html">系统设置</a>
          </li>
          <li class="active">

            <strong>计划任务</strong>
          </li>
        </ol>

      </div>

    </div>

    <!-- Removing search and results count filter -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">计划任务与批处理</h3>
      </div>
      <div class="col-md-12" id="alertBox" style="display: none">
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">
            <span class="sr-only">Close</span>
          </button>

          <strong><i class="fa fa-check"></i>&nbsp;操作成功！&nbsp;&nbsp;</strong> 页面已更新.
        </div>
      </div>
      <div class="col-md-12" id="jobAlert" style="display: none">
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">
            <span class="sr-only">Close</span>
          </button>

          <strong>执行成功！&nbsp;&nbsp;</strong> 计划任务已成功通过手动执行.
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="dataTables_length">
              <label>每页显示
                <select class="form-control input sm" style="display: inline-block" id="pageSizeDropDown" onchange=>
                  <option value="5">5</option>
                  <option value="10" selected>10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                条
              </label>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="dataTables_length">
              <button type="button" class="btn btn-info btn-icon" style="float: right" onclick="jobSchedule.initSearch()"><i class="fa-search"></i><span>&nbsp;搜索</span></button>
            </div>
          </div>
        </div>
        <table class="table table-bordered table-striped" id="jobTable">
          <thead>
          <tr>
            <th>名称</th>
            <th>注册状态</th>
            <th>描述</th>
            <th>执行方式</th>
            <th>Cron</th>
            <th>目标类</th>
            <th>操作</th>
          </tr>
          </thead>

          <tbody class="middle-align" id="jobBody">

          </tbody>
        </table>
        <div class="row">
          <div class="col-xs-6">
            <button type="button" class="btn btn-secondary btn-icon" onclick="jobSchedule.initAdd()">
              <i class="fa-plus"></i>
              <span>创建</span>
            </button>
          </div>
          <div class="dataTables_paginate paging_simple_numbers">
            <div class="tcdPageCode page_1"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Footer -->
    <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
    <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
    <!-- Or class "fixed" to  always fix the footer to the end of page -->
    <footer class="main-footer sticky footer-type-1">
      <div th:replace="footer::page-footer"></div>
    </footer>
  </div>
</div>

<!--创建任务-->
<div class="modal fade" id="addBox">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">创建任务</h4>
      </div>
      <form id="addForm" method="post">
        <div class="modal-body">

          <div class="row">
            <div class="col-md-6">

              <div class="form-group" id="err_003_a">
                <label for="field-1" class="control-label">任务名</label>

                <input type="text" class="form-control" id="field-1" placeholder="Job Name" name="jobName">
              </div>

            </div>

            <div class="col-md-6">

              <div class="form-group" id="err_004_a">
                <label for="field-2" class="control-label">任务组</label>

                <input type="text" class="form-control" id="field-2" placeholder="Job Group" name="jobGroup">
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <div class="form-group" id="err_006_a">
                <label for="field-3" class="control-label">目标类全限定名</label>

                <input type="text" class="form-control" id="field-3" placeholder="Class" name="className">
              </div>

            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-10">
                <span>托管方式</span>
                <p>
                  <label class="cbr-inline" style="color: #323232">
                    <input type="radio" name="automatic" class="cbr" value="Y" checked="checked" onclick="jobSchedule.showCronInput()">
                    自动执行
                  </label>
                  <label class="cbr-inline" style="color: #323232">
                    <input type="radio" name="automatic" class="cbr" value="N" onclick="jobSchedule.hideCronInput()">
                    手动执行
                  </label>
                </p>
              </div>
            </div>
          </div>

          <div class="row" id="cronDiv">
            <div class="col-md-12">

              <div class="form-group" id="err_007_a">
                <label for="field-3" class="control-label">CRON表达式</label>

                <input type="text" class="form-control" id="field-3" placeholder="Cron Expression" name="cron">
              </div>

            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-10">
                <span>完成后注册</span>
                <p>
                  <label class="cbr-inline" style="color: #323232">
                    <input type="radio" name="register" class="cbr" value="Y" checked="checked">
                    是
                  </label>
                  <label class="cbr-inline" style="color: #323232">
                    <input type="radio" name="register" value="N" class="cbr">
                    否
                  </label>
                </p>
              </div>
            </div>
          </div>

          <div class="row" id="err_005_a">
            <div class="col-md-12">

              <div class="form-group no-margin">
                <label for="field-7" class="control-label">描述</label>

                <textarea class="form-control autogrow" id="field-7" placeholder="Write something about yourself" name="jobDesc"></textarea>
              </div>

            </div>
          </div>

        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-info" onclick="jobSchedule.doAdd()">创建</button>
      </div>
    </div>
  </div>
</div>



<!--搜索-->
<div class="modal fade" id="searchBox">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">搜索任务</h4>
      </div>
      <form id="searchForm" method="post">
        <div class="modal-body">

          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label for="field-1" class="control-label">任务名</label>

                <input type="text" class="form-control" id="jobNameInput" placeholder="Job Name" name="jobName">
              </div>

            </div>

            <div class="col-md-6">

              <div class="form-group">
                <label for="field-2" class="control-label">任务组</label>

                <input type="text" class="form-control" id="jobGroupInput" placeholder="Job Group" name="jobGroup">
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <div class="form-group">
                <label for="field-3" class="control-label">目标类全限定名</label>

                <input type="text" class="form-control" id="classNameInput" placeholder="Class" name="className">
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <div class="form-group no-margin">
                <label for="field-7" class="control-label">描述</label>

                <textarea class="form-control autogrow" id="descInput" placeholder="Write something about yourself" name="description"></textarea>
              </div>

            </div>
          </div>

        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-info" onclick="jobSchedule.doSearchParam(1)">搜索</button>
      </div>
    </div>
  </div>
</div>


<!--显示详情-->
<div class="modal fade" id="displayBox">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="displayTitle">详细信息</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label class="control-label">任务名:&nbsp;</label>

              <span id="nameSpan">TestJob</span>
            </div>

          </div>

          <div class="col-md-6">

            <div class="form-group">
              <label class="control-label">任务组:&nbsp;</label>

              <span id="groupSpan">Job Group</span>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="form-group">
              <label for="field-3" class="control-label">目标类全限定名:&nbsp;</label>

              <span id="classSpan">org.orion</span>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="form-group">
              <label class="control-label">托管方式:&nbsp;</label>

              <span id="autoSpan">-</span>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="form-group">
              <label class="control-label">注册状态:&nbsp;</label>

              <span id="regSpan">-</span>
            </div>

          </div>
        </div>

        <div class="row" id="cronDiv">
          <div class="col-md-12">

            <div class="form-group">
              <label class="control-label">CRON表达式:&nbsp;</label>

              <span id="cronSpan">* * * * * ?</span>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="form-group">
              <label class="control-label">上次执行时间:&nbsp;</label>

              <span id="fireSpan">2019-01-01</span>
            </div>

          </div>
        </div>

        <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label class="control-label">创建:&nbsp;</label>

            <span id="createdBySpan">createdBy</span>
          </div>

        </div>
        <div class="col-md-6">

          <div class="form-group">
            <label class="control-label">创建时间:&nbsp;</label>

            <span id="createdAtSpan">createdAt</span>
          </div>

        </div>
      </div>

        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label class="control-label">修改:&nbsp;</label>

              <span id="updatedBySpan">updatedBy</span>
            </div>

          </div>
          <div class="col-md-6">

            <div class="form-group">
              <label class="control-label">修改时间:&nbsp;</label>

              <span id="updatedAtSpan">updatedAt</span>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="form-group no-margin">
              <label class="control-label">描述</label>

              <textarea class="form-control autogrow" id="descArea"></textarea>
            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-danger" id="confirmDeleteBtn" style="display: none" data-dismiss="modal" onclick="jobSchedule.doDelete()"><i class="fa fa-trash"></i>&nbsp;删除</button>
      </div>
    </div>
  </div>
</div>


<!--修改-->
<div class="modal fade" id="modifyBox">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">修改任务</h4>
      </div>
      <form id="modifyForm" method="post">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">

              <div class="form-group" id="err_003_m">
                <label class="control-label">任务名</label>

                <input type="text" class="form-control" id="modifyName" readonly="readonly" placeholder="Job Name" name="jobName">
              </div>

            </div>

            <div class="col-md-6">

              <div class="form-group" id="err_004_m">
                <label class="control-label">任务组</label>

                <input type="text" class="form-control" id="modifyGroup" readonly="readonly" placeholder="Job Group" name="jobGroup">
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <div class="form-group" id="err_006_m">
                <label class="control-label">目标类全限定名</label>

                <input type="text" class="form-control" id="modifyClass" placeholder="Class" name="className">
              </div>

            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-10">
                <span>托管方式</span>
                <p>
                  <label class="cbr-inline" style="color: #323232">
                    <input type="radio" name="automatic" id="modifyAuto1" class="cbr" value="Y" checked="checked" onclick="jobSchedule.showModifyCronInput()">
                    自动执行
                  </label>
                  <label class="cbr-inline" style="color: #323232">
                    <input type="radio" name="automatic" id="modifyAuto2" class="cbr" value="N" onclick="jobSchedule.hideModifyCronInput()">
                    手动执行
                  </label>
                </p>
              </div>
            </div>
          </div>

          <div class="row" id="cronDiv">
            <div class="col-md-12">

              <div class="form-group" id="err_007_m">
                <label class="control-label">CRON表达式</label>

                <input type="text" class="form-control" id="modifyCron" placeholder="Cron Expression" name="cron">
              </div>

            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-sm-10">
                <span>注册/取消注册</span>
                <p>
                  <label class="cbr-inline" style="color: #323232">
                    <input type="radio" name="register" class="cbr" value="Y" checked="checked">
                    注册
                  </label>
                  <label class="cbr-inline" style="color: #323232">
                    <input type="radio" name="register" value="N" class="cbr">
                    取消注册
                  </label>
                </p>
              </div>
            </div>
          </div>

          <div class="row" id="err_005_m">
            <div class="col-md-12">

              <div class="form-group no-margin">
                <label class="control-label">描述</label>

                <textarea class="form-control autogrow" id="modifyDesc" placeholder="Write something about yourself" name="jobDesc"></textarea>
              </div>

            </div>
          </div>

        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-info" onclick="jobSchedule.doModify()"><i class="fa-save"></i>&nbsp;保存</button>
      </div>
    </div>
  </div>
</div>




<!--配置参数-->
<div class="modal fade" id="paramBox">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">参数配置</h4>
      </div>
      <form id="paramForm" method="post">
        <div class="modal-body" id="paramBody">

        </div>
      </form>
      <button type="button" class="btn btn-primary" onclick="jobSchedule.addParamRow()"><i class="fa fa-plus"></i>&nbsp;增加</button>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-info" onclick="jobSchedule.doAddParam()"><i class="fa fa-save"></i>&nbsp;保存</button>
      </div>
    </div>
  </div>
</div>

<!-- Imported styles on this page -->
<link rel="stylesheet" th:href="@{/assets/js/datatables/dataTables.bootstrap.css}">

<!-- Bottom Scripts -->
<script th:src="@{/orion/jquery-3.3.1.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/TweenMax.min.js}"></script>
<script th:src="@{/assets/js/resizeable.js}"></script>
<script th:src="@{/assets/js/joinable.js}"></script>
<script th:src="@{/assets/js/xenon-api.js}"></script>
<script th:src="@{/assets/js/xenon-toggles.js}"></script>
<script th:src="@{/assets/js/datatables/js/jquery.dataTables.min.js}"></script>


<!-- Imported scripts on this page -->
<script th:src="@{/assets/js/datatables/dataTables.bootstrap.js}"></script>
<script th:src="@{/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js}"></script>
<script th:src="@{/assets/js/datatables/tabletools/dataTables.tableTools.min.js}"></script>


<!-- JavaScripts initializations and stuff -->
<script th:src="@{/assets/js/xenon-custom.js}"></script>
<script th:src="@{/js/aes.min.js}"></script>
<script th:src="@{/orion/common.js}"></script>
<script th:src="@{/orion/jquery-block.js}"></script>
<script th:src="@{/orion/jquery.page.js}"></script>
<script th:src="@{/orion/systemadmin/batchjobConfig.js}" charset="UTF-8"></script>

</body>
</html>