<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Xenon Boostrap Admin Panel" />
  <meta name="author" content="" />

  <title>Xenon - Data Tables</title>

  <link rel="stylesheet" th:href="@{/assets/css/fonts/linecons/css/linecons.css}">
  <link rel="stylesheet" th:href="@{/assets/css/fonts/fontawesome/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/assets/css/xenon-core.css}">
  <link rel="stylesheet" th:href="@{/assets/css/xenon-forms.css}">
  <link rel="stylesheet" th:href="@{/assets/css/xenon-components.css}">
  <link rel="stylesheet" th:href="@{/assets/css/xenon-skins.css}">
  <link rel="stylesheet" th:href="@{/assets/css/custom.css}">
  <link rel="stylesheet" th:href="@{/orion/jquery.page.css}">


<!--  <script th:src="@{/assets/js/jquery-1.11.1.min.js}"></script>-->


</head>
<body class="page-body">

<div th:replace="basic::setting-pane"></div>

<div class="page-container">
  <div th:replace="basic::leftmenu"></div>

  <div class="main-content">
    <nav th:replace="basic::nav-bar"></nav>

    <div class="page-title">

      <div class="title-env">
        <h1 class="title">参数配置</h1>
        <p class="description">运行时服务器参数设置</p>
      </div>

      <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
          <li>
            <a href="dashboard-1.html"><i class="fa-home"></i>Home</a>
          </li>
          <li>

            <a href="tables-basic.html">系统设置</a>
          </li>
          <li class="active">

            <strong>参数配置</strong>
          </li>
        </ol>

      </div>

    </div>

    <!-- Removing search and results count filter -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">服务器运行参数</h3>
      </div>
      <div class="col-md-12" id="alertBox" style="display: none">
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>

          <strong>操作成功!&nbsp;</strong> 页面已更新.
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="dataTables_length">
              <label>每页显示
                <select class="form-control input sm" style="display: inline-block" id="pageSizeDropDown" onchange="sysConfig.changePageSize()">
                  <option value="5">5</option>
                  <option value="10" selected>10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                条
              </label>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="dataTables_length">
              <button type="button" class="btn btn-info btn-icon" style="float: right" onclick="sysConfig.initSearchParam()"><i class="fa-search"></i><span>&nbsp;搜索</span></button>
            </div>
          </div>
        </div>
        <table class="table table-bordered table-striped" id="sysconfigTable">
          <thead>
          <tr>
            <th>名称</th>
            <th>键</th>
            <th>参数</th>
            <th>操作</th>
          </tr>
          </thead>

          <tbody class="middle-align" id="sysConfigbody">

          </tbody>
        </table>
        <div class="dataTables_paginate paging_simple_numbers">
          <div class="tcdPageCode page_1"></div>
        </div>
      </div>
    </div>
    <!-- Main Footer -->
    <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
    <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
    <!-- Or class "fixed" to  always fix the footer to the end of page -->
    <footer class="main-footer sticky footer-type-1">
      <div th:replace="footer::page-footer"></div>
    </footer>
  </div>
</div>

<!--修改弹窗-->
<div class="modal fade" id="modifyBox">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">修改参数</h4>
      </div>
      <div class="modal-body">
        <form id="modifyForm" method="post">
          <div class="row">
            <div class="col-md-12">

              <div class="form-group" id="err_001">
                <label for="field-1" class="control-label">描述</label>

                <input type="text" class="form-control" id="descInput" name="description">
              </div>

            </div>

          </div>

          <div class="row">
            <div class="col-md-12">

              <div class="form-group">
                <label for="field-3" class="control-label">键</label>

                <input type="text"  readonly="readonly" class="form-control" id="keyInput" name="configKey">
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-6">

              <div class="form-group" id="err_002">
                <label for="field-4" class="control-label">值</label>

                <input type="text" class="form-control" id="valueInput" name="configValue">
              </div>

            </div>

          </div>
        </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
        <button type="button" id="saveModifyBtn" class="btn btn-info" onclick="sysConfig.doModify()">
          <i class="fa-save"></i>
          <span>保存</span>
        </button>
      </div>
    </div>
  </div>
</div>


<!--搜索弹窗-->
<div class="modal fade" id="searchBox">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">搜索</h4>
      </div>

      <div class="modal-body">
        <form method="post" id="searchForm">
          <div class="row">
            <div class="col-md-12">

              <div class="form-group">
                <label for="field-1" class="control-label">描述</label>

                <input type="text" class="form-control" name="description" id="condesc">
              </div>

            </div>

          </div>

          <div class="row">
            <div class="col-md-12">

              <div class="form-group">
                <label for="field-3" class="control-label">键</label>

                <input type="text" class="form-control" name="configKey" id="conkey">
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label for="field-4" class="control-label">值</label>

                <input type="text" class="form-control" name="configValue" id="convalue">
              </div>

            </div>

          </div>
        </form>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-white" onclick="sysConfig.resetSearch()">重置</button>
        <button type="button" class="btn btn-info" onclick="sysConfig.doSearchParam()">搜索</button>
      </div>
    </div>
  </div>
</div>







<!-- Imported styles on this page -->
<link rel="stylesheet" th:href="@{/assets/js/datatables/dataTables.bootstrap.css}">

<!-- Bottom Scripts -->
<script th:src="@{/orion/jquery-3.3.1.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/TweenMax.min.js}"></script>
<script th:src="@{/assets/js/resizeable.js}"></script>
<script th:src="@{/assets/js/joinable.js}"></script>
<script th:src="@{/assets/js/xenon-api.js}"></script>
<script th:src="@{/assets/js/xenon-toggles.js}"></script>
<script th:src="@{/assets/js/datatables/js/jquery.dataTables.min.js}"></script>


<!-- Imported scripts on this page -->
<script th:src="@{/assets/js/datatables/dataTables.bootstrap.js}"></script>
<script th:src="@{/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js}"></script>
<script th:src="@{/assets/js/datatables/tabletools/dataTables.tableTools.min.js}"></script>


<!-- JavaScripts initializations and stuff -->
<script th:src="@{/assets/js/xenon-custom.js}"></script>

<script th:src="@{/orion/jquery-block.js}"></script>
<script th:src="@{/orion/common.js}"></script>
<script th:src="@{/orion/systemadmin/systemConfig.js}"></script>
<script th:src="@{/orion/jquery.page.js}"></script>

</body>
</html>